@media screen {
.booking {
    background-image: url(../assets//Book.png);
    background-position: center;    
    background-size: cover;
    padding: 30px 10px;
    margin-bottom: 50px;

}

.booking-cfg {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.card-info {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}

.card-info h1,p {
    padding: 5px 0;
}

.card-info h1 {
    font-weight:500;
    font-size: 1.4rem;
    color: var(--secondary-color);
}

.card-info p {
    font-size: 1rem;
}



.call-span {
 
    width:100px;
    height: 30px;
    display: flex;
    margin: 10px 0;
    text-align: center;
    align-items: center;
    color: var(--bg-color);
    justify-content:center;
    background-color: var(--secondary-color);
  
   
}

.call-cfg {
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content:center;
    
    
}

.call-cfg span {
    font-size:.6rem;
}

.phone-icon {
    height:20px;
    width:20px;
   
}

.booking-card {

    display:flex;
    padding:20px 0;
    height:fit-content;
    border-radius:10px;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    background-color: var(--primary-color);
    
}

.b-card {   
    display: flex;
    flex-direction: column;
    padding:0 10px;
    width: 100%;
}



.book-title h1 {
    color: var(--text-color);
    font-weight: 500;
    font-size:1.6rem;
}

.booking-form {

    display: flex;
    margin: 10px 0;
    flex-direction: column;
  
}

.booking-input, .booking-textarea {
    outline:none;
    border: none;
    margin: 6px 0;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: var(--bg-color);

}



.booking-input::placeholder {
    color: var(--fade-color);
    font-size: 0.8rem;
}

.booking-textarea {
    border-radius: 0;
    margin-bottom: 0;
    height: 100px;
}

.booking-textarea::placeholder {
    color: var(--fade-color);
    font-size: 0.8rem;

}

.booking-btn {
    background-color: var(--secondary-color);
    color: var(--bg-color);
    text-align: center;
    border-radius: 8px;
    padding: 20px 0;
    font-size:1rem;
    cursor:pointer;
    outline:none;
    border: none;
}


    }

/* ipad/tablet */
@media only screen and (min-width:48.0em){ 


    .booking {
        padding: 30px 180px;
        margin-bottom: 50px;
    }

    .card-info h1,p {
        padding: 8px 0;
    }
    
    .card-info h1 {
        font-size: 1.5rem;
    }
    
    .card-info p {
        font-size: 1.2rem;
    }
    
    
    
    .call-span {
     
        width:120px;
        height: 35px;
        margin: 10px 0;
       
    }
    
    .call-cfg span {
    
        font-size:.7rem;
    }
    
    .phone-icon {
        height:21px;
        width:21px;
       
    }

.booking-input, .booking-textarea {
    padding: 13px 5px;
}


    
    
    .b-card {   
        padding:0 20px;
    }
    
    
    .booking-btn {
        font-size:1.2rem;
    }
    

}


/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {

   
    .booking {
        padding: 30px 180px;
        margin-bottom: 50px;
        display: flex;
        height:60vh;
        
    }

    .booking-cfg {
        display: flex;
        align-items:center;
        flex-direction: row;
       
    }

    .booking-info , .booking-card {
        flex: 50%;
    }


    .card-info h1,p {
        text-align:start;
        padding: 10px 0;
    }
    
    .card-info h1 {
        font-size: 1.5rem;
    }


    
    .card-info {
        display: block; 
    }
    
    .card-info p {
        font-size: 1.2rem;
        
    }

    
    
    .call-span {
     
        width:120px;
        height: 35px;
        margin: 10px 0;
       
    }
    
    .call-cfg span {
    
        font-size:.7rem;
    }
    
    .phone-icon {
        height:21px;
        width:21px;
       
    }

.booking-input, .booking-textarea {
    padding: 13px 5px;
}


    
    
    .b-card {   
        padding:0 20px;
    }
    
    
    .booking-btn {
        font-size:1.2rem;
    }
    

}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width:64.063em) and (max-width:90.0em) {


    .booking {
        display: flex;
        height:90vh;
        align-items: center;
        justify-content: center;
        
        
    }

    .booking-cfg {
        display: flex;
        flex-direction: row;
        align-items:center;
    }

    .booking-info , .booking-card {
        flex: 50%;
    }


    .card-info h1,p {
        text-align:start;
        padding: 10px 0;
    }
    
    .card-info h1 {
        font-size: 1.8rem;
    }


    
    .card-info {
        display: block; 
    }
    
    .card-info p {
        font-size: 1.4rem;
        
    }

    
    
    .call-span {
     
        width:130px;
        height: 38px;
        margin: 10px 0;
       
    }
    
    .call-cfg span {
    
        font-size:.9rem;
    }
    
    .phone-icon {
        height:24px;
        width:24px;
       
    }

.booking-input, .booking-textarea {
    padding: 13px 5px;
}


    
    
    .b-card {   
        padding:0 20px;
    }
    
    
    .booking-btn {
        font-size:1.2rem;
    }
}

/* 5k screens and above */
@media only screen and (min-width:91.0em) {

    .booking {
        display: flex;
        height:90vh;
        align-items: center;
        justify-content: center;
        
        
    }

    .booking-cfg {
        display: flex;
        flex-direction: row;
        align-items:center;
    }

    .booking-info , .booking-card {
        flex: 50%;
    }


    .card-info h1,p {
        text-align:start;
        padding: 10px 0;
    }
    
    .card-info h1 {
        font-size: 1.8rem;
    }


    
    .card-info {
        display: block; 
    }
    
    .card-info p {
        font-size: 1.4rem;
        
    }

    
    
    .call-span {
     
        width:130px;
        height: 38px;
        margin: 10px 0;
       
    }
    
    .call-cfg span {
    
        font-size:.9rem;
    }
    
    .phone-icon {
        height:24px;
        width:24px;
       
    }

.booking-input, .booking-textarea {
    padding: 13px 5px;
}


    
    
    .b-card {   
        padding:0 20px;
    }
    
    
    .booking-btn {
        font-size:1.2rem;
    }

}