@media screen {
    .header {
    
        background-color: var(--primary-color);
        border: 2px solid var(--primary-color);
        
    }
    
    .nav {
    
        height:60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    
        
    }
    
    .logo {
        height: 60px;
        width: 60px;
    }
    

    .nav-links {
        display: none;
    }
}
/* ipad/tablet */
@media only screen and (min-width:48.0em){ 

    .header {

        background-color: var(--primary-color);
        padding-right: 270px;
        padding-left: 30px;
        height: 60px;
     
    }
    
    .nav {

        display: flex;
        padding: 30px 0;
        align-items: center;
        justify-content: space-between;
    
        
    }
    
    
    .nav-links {
        display: flex;
        flex-grow:0.3;
        justify-content: space-between;
    }
    
    .link { 
        color: var(--bg-color);
        font-size: .9rem;
        font-weight:100; 
    
    }
    
    
    .link:hover {
        color: var(--secondary-color);
    }

}

/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {


    
    .header {

        background-color: var(--primary-color);
        padding-right: 350px;
        padding-left: 30px;
        height: 80px;
     
    }

    .logo {
        height: 60px;
        width: 60px;
    }
    
    .nav {

        display: flex;
        padding: 35px 0;
        align-items: center;
        justify-content: space-between;
    
        
    }
    
    
    .nav-links {
        display: flex;
        flex-grow:0.3;
        justify-content: space-between;
    }
    
    .link { 
        color: var(--bg-color);
        font-size: 1rem;
        font-weight:100; 
    
    }
    
    
    .link:hover {
        color: var(--secondary-color);
    }


}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width:64.063em) and (max-width:90.0em) {

    .header {
        padding-right: 550px;
        padding-left: 30px;
        height: 90px;
        background-color: var(--primary-color);
        
        
    }
    
    .nav {
    
        height:50px;
        display: flex;
        padding: 40px 0;
        align-items: center;
        justify-content: space-between;
    
        
    }
    
    .logo {
        height: 50px;
        width: 50px; 
    }
    
    .nav-links {
        display: flex;
        flex-grow:0.2;
        justify-content: space-between;
    }
    
    .link { 
        color: var(--bg-color);
        font-size: 1rem;
        font-weight:100; 
    
    }
    
    
    .link:hover {
        color: var(--secondary-color);
    }

}
/* 5k screens and above */
@media only screen and (min-width:91.0em) {

    .header {
        padding-right: 750px;
        padding-left: 30px;
        height: 130px;
        background-color: var(--primary-color);
        
        
    }
    
    .nav {
    
        height:50px;
        display: flex;
        padding: 60px 0;
        align-items: center; 
        justify-content: space-between;
    
        
    }
    
    .logo {
        height: 80px;
        width: 80px; 
    }
    
    .nav-links {
        display: flex;
        flex-grow:0.2;
        justify-content: space-between;
    }
    
    .link { 
        font-size: 1rem;
        color: var(--bg-color);
    
    }
    
    
    .link:hover {
        color: var(--secondary-color);
    }

}