.service-container {
    background: transparent;
    perspective: 1000px; 
    border: 2px solid black;
    padding: 30px;
    
    
} 


.service-card {

    border: 2px solid black;
    display: flex;
    height:300px;
    width:240px;
    border-radius: 20px;
    justify-content:center;
    align-items: center;
    background-color: var(--secondary-color);

}

.service-cfg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.service-card:hover .service-cfg {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .card-back {
      display: flex;
      align-items: center;
      justify-content:center;
   object-fit: cover;
   object-position:center; 
    transform: rotateY(180deg);
  }

.img-front {
    height:60px;
    width:60px;
}


.card-details {
    width: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    color: var(--bg-color);
    flex-direction: column;
    justify-content:space-evenly;

}

.card-details h4 {
    font-size: 1.2rem;
}