@media screen {

    
.testimony-cfg {
    row-gap:30px;
    display: flex;
    column-gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content:center;
   
}


.testimony-title {
    margin-top:20px;
    display:flex;
    width:200px;
    height:50px;
}

.testimony-title h1 {
    font-size:1.2rem;
    font-weight: 600;
}

.testimony-card {
    box-shadow: rgba(167, 167, 168, 0.2) 0px 7px 29px 0px;
    flex-direction: column;
    border-radius: 10px;
    display:flex;
    padding: 20px;
  
    
    
}

.testimony-card p {
    font-size: .9rem;
}


.testimony-card:hover {
    box-shadow: rgba(58, 57, 57, 0.35) 0px 5px 15px;
    transition: 300ms linear;
}

.comment-img {
    height:30px;
    width:30px;
}

.testimony-container {
    display:flex;
    align-items: center;
    justify-content:space-between;

}

.start-container {
    flex-direction: row;
    display: flex;

}

.star-contained {
    display:flex;
}

.star-c {
    height:15px;
    width:17px;
}
    
}
